* {
	font-family: Roboto;
}

body {
	background: url(./img/blackboard_bg.jpg) round;
	background-attachment: fixed; */
}

hr{
	border-color: #676769;
}

.bg-color {
	background-color: #eeeeee !important;
}

.header {
	padding: 3%;
}


.footer	{
	text-align: center;
    color: white;
}

.teacher-info {
	text-align: center;
	padding: 2em 2em;
}

.teacher-profile-img {
    width: 15em;
    border-radius: 1em;
    border: thick groove snow;
}

.inline-img-responsive {
    max-width: 100%;
    display: inline;

}

.rating-stars-img {
	width: 25em;
}

.criteria-checkbox {
	width: 2em;
    height: 2em;
}

.good-review {
	background-color: rgba(139, 195, 74, 0.25);
}

.bad-review {
	background-color: rgba(244, 67, 54, 0.25);
}

.comments {
	background-color: rgba(33, 150, 243, 0.25);
}

.caption {
	margin: -0.5em 0;
    display: block;
}