* {
	font-family: Roboto;
}

body {
	background: url(./img/blackboard_bg.jpg) round;
	background-attachment: fixed; */
}

hr{
	border-color: #676769;
}

.footer	{
	text-align: center;
    color: white;
}

.teacher-info {
	text-align: center;
	padding: 2em 2em;
}

.teacher-profile-img {
    width: 15em;
    border-radius: 1em;
    border: thick groove snow;
}

.inline-img-responsive {
    max-width: 100%;
    display: inline;

}

.rating-stars-img {
	width: 25em;
}

.criteria-checkbox {
	width: 100%;
    height: 21px;
    float: right;
}